body {
    margin: 0 auto;
}

/*
* Logo
*/
.logo {
    height: 60px;
    width: 200px;
    background: transparent url('../images/logo.png');
    margin-bottom: 2px;
    clear: both;
    border-radius: 3px;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Main content
 */

.main {
    padding: 20px;
    max-width: 970px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

/*footer*/
.footer {
    margin: 0 auto;
    bottom: 0;
    width: 100%
}

.footer-content {
    width: 892px;
    margin: 0 auto;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.spacer {
    margin: 10px;
    display: block;
}
.msg {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.flat-label {
    padding: 2px 5px;
    margin-bottom: 2px;
    border: 1px solid transparent;
}

.label-text {
    font-weight: bold;
}

.cursor {
    cursor: pointer;
}

.crumbs{
    color: #54c5ff;
}
